<!doctype html>
<html lang="en" ng-app="App">
<head>
  <meta charset="utf-8">
  <title>{{name}}'s Glucose Logbook</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/static/css/app.css"/>
</head>
<body>

  <div ng-controller="Controller">
    <center><h1>{[{name}]}'s Glucose Logbook</h1></center>

    <h3>Enter a New Measurement</h3>
    <form name="form" class="css-form" novalidate>
      Date:
      <input type='number' ng-model='meas.month' name='meas_month' min='1' max='12' size='2' integer />
      -
      <input type='number' ng-model='meas.day' name='meas_day' min='1' max='31' size='2' integer />
      -
      <input type='number' ng-model='meas.year' name='meas_year' min='2010' max='2013' size='4' integer />

      <br>

      Time:
      <input type='number' ng-model='meas.hours' name='meas_hours' min='1' max='12' size='2' integer />
      :
      <input type='number' ng-model='meas.minutes' name='meas_minutes' min='0' max='59' size='2' integer />

      <input name='am_or_pm' type="radio" ng-model="meas.am_or_pm" value="am" /> am
      <input name='am_or_pm' type="radio" ng-model="meas.am_or_pm" value="pm" /> pm

      <br />

      Value:
      <!-- using smart-float see angular forms docs -->
      <input autofocus id='meas_value' type='number' ng-model='meas.value' min='0' max='500' smart-float required />
      &nbsp;
      &nbsp;
      Unit:
      &nbsp;
      <input name='unit' type="radio" ng-model="meas.unit" value="mmol_per_l" /> mmol/L
      &nbsp;
      or
      &nbsp;
      <input name='unit' type="radio" ng-model="meas.unit" value="mg_dl" /> mg/dL
      <!--&nbsp;-->
      <!--Type:-->
      <!--&nbsp;-->
      <!--<input name='whole_or_plasma' type="radio" ng-model="meas.whole_or_plasma" value="whole" /> whole blood-->
      <!--&nbsp;-->
      <!--<input name="whole_or_plasma" type="radio" ng-model="meas.whole_or_plasma" value="plasma" /> plasma-->

      <br />
      <br />

      <button ng-click="update(meas)"
              ng-disabled="form.$invalid || is_unchanged(meas)">Save Measurement</button>
      <button ng-click="reset()" ng-disabled="is_unchanged(meas)">Reset Form</button>
    </form>

    <hr>

    <h3>Glucose by Time of Day</h3>
    <div class='vizbox'><glucose-day val='glucoses'></glucose-day></div>

    <hr>

    <h3>Glucose Histogram</h3>
    <div class='vizbox'><glucose-histogram val='glucoses'></glucose-histogram></div>


    <h3>Previous Measurements</h3>
    <div>
      <ul>
        <li ng-repeat="glucose in glucoses"><code>{[{ glucose.when }]} &mdash; {[{ glucose.value }]} mmol/L</code></li>
      </ul>
    </div>
  </div>


  <!-- Save tokens in sessionStorage -->
  <script>
    sessionStorage.setItem('wctoken', '{{wctoken}}');
    sessionStorage.setItem('name', '{{name}}');
    sessionStorage.setItem('person_id', '{{person_id}}');
    sessionStorage.setItem('record_id', '{{selected_record_id}}');
    sessionStorage.setItem('auth_token', '{{auth_token}}');
    sessionStorage.setItem('shared_secret', '{{shared_secret}}');
  </script>

  <script src="/static/lib/angular/angular.js"></script>
  <script src="/static/lib/d3.v2.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/controllers.js"></script>
  <script src="/static/js/directives.js"></script>
  <style type="text/css">
    .css-form input.ng-invalid.ng-dirty { background-color: #FA787E; }
    .css-form input.ng-valid.ng-dirty { background-color: #78FA89; }
  </style>
</body>
</html>
